<div class="collapse d-sm-none" id="responsiveNav">
    <ul class="nav nav-tabs-info text-muted flex-column">

        <li class="nav-item text-info">
            <a class="nav-link @(ViewContext.ActionDescriptor.RouteValues["action"] == "Index" ? "active" : "")"
               asp-action="Index" asp-controller="Provider">Home</a>
        </li>



        <li class="nav-item">
            <a class="nav-link @(ViewContext.ActionDescriptor.RouteValues["action"] == "Profile" ? "active" : "")"
               asp-action="Profile" asp-controller="Provider">My Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ActionDescriptor.RouteValues["action"] == "Provider" ? "active" : "")"
               asp-action="Provider" asp-controller="Provider">Invoicing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ActionDescriptor.RouteValues["action"] == "Parteners" ? "active" : "")"
               asp-action="Parteners" asp-controller="Provider">My Schedule</a>
        </li>

    </ul>
</div>



<div class="w-100 shadow  px-2 px-md-5 position-relative z-2 pt-2 border-bottom d-none d-sm-block">
    <ul class="nav nav-tabs-info text-info mb-3" id="pills-tab" role="tablist">

        <li class="nav-item text-info">
            <a class="nav-link @(ViewContext.ActionDescriptor.RouteValues["action"] == "Index" ? "active" : "")"
               asp-action="Index" asp-controller="Provider">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link @(ViewContext.ActionDescriptor.RouteValues["action"] == "ProviderLocation" ? "active" : "")"
               asp-action="ProviderLocation" asp-controller="Provider"> Scehduling</a>
        </li>

        <li class="nav-item ">
            <a class="nav-link @(ViewContext.ActionDescriptor.RouteValues["action"] == "Profile" ? "active" : "")"
               asp-action="Profile" asp-controller="Provider">My Profile</a>

        </li>


        <li class="nav-item ">
            <a class="nav-link @(ViewContext.ActionDescriptor.RouteValues["action"] == "Parteners" ? "active" : "")"
               asp-action="Parteners" asp-controller="Provider">Invoicing</a>
        </li>


        <!-- Ensure dropdown menu z-index -->


    </ul>
</div>
