@model List<DataAccessLayer.CustomModel.NewRequestTableVM>

@{
    Layout = "~/Views/Shared/_Layout4.cshtml";
}
@if (TempData.ContainsKey("Error"))
{
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "positionClass": "toast-top-right",
                "timeOut": "5000"
            };

            toastr.error('@TempData["Error"]');
        });
    </script>
}
@if (TempData.ContainsKey("SuccessMessage"))
{
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "positionClass": "toast-top-right",
                "timeOut": "5000"
            };

            toastr.success('@TempData["SuccessMessage"]');
        });
    </script>
}

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
}
@* <div class="container-fluid mt-5">
    <div class="row row-cols-3 row-cols-lg-6 g-2 g-lg-3">
        <div class="col" >
            <a id="linkNew"">

            <div class="border text-white p-3" style="background-color:#203f9a" >
                <div class="d-flex">
                    <span class="material-symbols-outlined d-none d-md-block">
                        person
                    </span>
                    <span>New</span>
                </div>
                <div>@ViewBag.NewCount</div>
            </div>
            </a>
        </div>
        <div class="col" >

            <div class="border p-3 text-info" style="background-color:#e5f2f8" >
            <a id="linkPanding">
                <div class="d-flex">
                    <span class="material-symbols-outlined d-none d-md-block">
                        group
                    </span>
                    <span>Pending</span>
                </div>
            </a>
                <div class="fw-bold">@ViewBag.PandingCount</div>
            </div>
        </div>
        <a class="col" id="linkActive">
            <div class="border p-3" style="background-color:#e9f0e8" id="link">
                <div class="d-flex">
                    <span class="material-symbols-outlined d-none d-md-block">
                        check_circle
                    </span>
            <span>Active</span>
                </div>
                <div>@ViewBag.activecount</div>
            </div>

        </a>
        <a class="col" id="linkConclude">
            <div class="border p-3 text-pink" style="background-color:#f7e6ee">
                <div class="d-flex">
                    <span class="material-symbols-outlined d-none d-md-block">
                        history
                    </span>
            <span>Conclude</span>
                </div>
                <div class="fw-blod">@ViewBag.conclude</div>
            </div>

        </a>
        <a class="col" id="linkToclose">
            <div class="border p-3" style="background-color:#e5eef5">
                <div class="d-flex">
                    <span class="material-symbols-outlined d-none d-md-block">
                        cancel
                    </span>
            <span >To Close</span>
                </div>
                <div class="fw-blod">@ViewBag.toclosed</div>
            </div>

        </a>
        <a class="col" id="linkUnpaid"> 
            <div class="border p-3" style="background-color: #efeef4">
                <div class="d-flex ">
                    <span class="material-symbols-outlined d-none d-md-block">
                        currency_exchange
                    </span>
            <span>Unpaid</span>
                </div>

                <div class="fw-blod">@ViewBag.unpaid</div>
            </div>

        </a>

    </div>
</div> *@
<div class="container-fluid px-4 text-center py-4">
    <ul class=" nav gx-5 row  gy-4 mt-0 row row-cols-3 row-cols-lg-6">

        <li class="col nav-item col-4 col-sm-4 col-lg-2 rounded-4 text-start position-relative px-2" role="presentation">
            <a class="btn w-100 text-start rounded-4 shadow-none border-0 Status-btn" id="statuslink1" >
                <div class="py-2  d-flex fs-5 Status-btn-text ">New</div>
                <h4 class="fw-bolder ps-1 pb-2 Status-Count" id="newcount"></h4>
            </a>
            <div id="triangle1" class="triangle"></div>
        </li>
        <li class="col nav-item col-4 col-sm-4 col-lg-2 rounded-4 text-primary text-start position-relative px-2" role="presentation">
            <a class="btn text-decoration-none rounded-4 text-primary w-100 text-start shadow-none border-0 Status-btn" id="statuslink2" >
                <div class="py-2  d-flex fs-5 Status-btn-text">Pending</div>
                <h4 class="fw-bolder ps-1 pb-2 Status-Coun"></h4>
            </a>
            <div id="triangle2" class="triangle" style="display: none;"></div>
        </li>
        <li class="col nav-item col-4 col-sm-4 col-lg-2 rounded-4 text-success text-start position-relative px-2" role="presentation">
            <a class="btn text-decoration-none rounded-4 text-success w-100 text-start shadow-none border-0 Status-btn" id="statuslink3" >
                <div class="py-2 d-flex fs-5 Status-btn-text">Active</div>
                <h4 class="fw-bolder ps-1 pb-2 Status-Coun"></h4>
            </a>
            <div id="triangle3" class="triangle" style="display: none;"></div>
        </li>
        <li class="col nav-item col col-lg-2 rounded-4 text-danger text-start position-relative px-2" role="presentation">
            <a class="btn text-decoration-none rounded-4 text-danger w-100 text-start shadow-none border-0 Status-btn" id="statuslink4" >
                <div class="py-2 d-flex fs-5 Status-btn-text">Conclude</div>
                <h4 class="fw-bolder ps-1 pb-2 Status-Coun"></h4>
            </a>
            <div id="triangle4" class="triangle " style="display: none;"> </div>
        </li>
        <li class="col nav-item col col-lg-2 rounded-4 text-start position-relative px-2" role="presentation">
            <a class="btn text-decoration-none rounded-4 text-primary w-100 text-start shadow-none border-0 Status-btn" id="statuslink5">
                <div class="py-2 d-flex fs-5 Status-btn-text">To Close</div>
                <h4 class="fw-bolder ps-1 pb-2 Status-Coun"></h4>
            </a>
            <div id="triangle5" class="triangle" style="display: none;"></div>
        </li>
        <li class="col position-relative col col-lg-2 nav-item rounded-4 text-start px-2" role="presentation">
            <a class="btn text-decoration-none rounded-4 text-danger w-100 text-start shadow-none border-0 Status-btn" id="statuslink6">
                <div class="py-2 d-flex fs-5 Status-btn-text">Unpaid</div>
                <h4 class="fw-bolder ps-1 pb-2 Status-Count"></h4>
            </a>
            <div id="triangle6" class="triangle" style="display: none;"></div>
        </li>

    </ul>
</div>
<div class="mt-3 mt-md-5 d-flex-column d-sm-flex justify-content-between align-items-center">
    <div class="">
        <p class="patient_text_size ">Patients<span class="text-primary" id="statuschange">(new)</span></p>
    </div>
    <div class="">
        <button type="button" class="btn btn-info text-white">
            <i class="bi bi-send  me-md-2"></i><span class="d-none d-lg-inline">Send Link</span>
        </button>
        <button type="button" class="btn btn-info  text-white">
            <i class="bi bi-pencil-square me-md-2"></i><span class="d-none d-lg-inline">
                Create
                Requests
            </span>
        </button>
        <button type="button" class="btn btn-info  text-white">
            <i class="bi bi-arrow-up-right "></i>
            <span class="d-none d-lg-inline ">Export</span>
        </button>
        <button type="button" class="btn btn-info  text-white">
            <i class="bi bi-box-arrow-up-right "></i><span class="d-none d-lg-inline">
                Export
                All
            </span>
        </button>
        <button type="button" class="btn btn-info  text-white">
            <i class="bi bi-person-plus  me-md-2"></i><span class="d-none d-lg-inline">
                Request DTY
                Support
            </span>
        </button>
    </div>
</div>


<div class=" row mt-4 mb-4 container-fluid ">
    <div class="col-xl-3 col-md-6 col-12 mb-2">
            <div class="input-group">

            <input class="form-control " type="search" placeholder="Search Patients"
                   aria-label="Search" id="searchInput">

            </div>
    </div>

    <div class="col-xl-3  col-md-6 col-12 mb-2">
        <div class="input-group rounded">
            <form class="w-100">
                <select class="form-select" aria-label="Default select example" id="filterSelect">
                    <option selected value=" ">All Regions</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </form>


        </div>
    </div>


    <div class="col-xl-1 col-md-2 col-2 mb-2 filter-item" data-value="">
        <button type="button" class="btn border-dark-subtle "> All</button>
    </div>
    <div class="col-xl-1 col-md-2 col-4 d-flex align-items-center gap-1 filter-item" data-value="1">
        <div class="rounded-5 bg-success border-5 " style="width:12px; height:12px;"></div> Patient
    </div>
    <div class="col-xl-2 col-md-3 col-6 d-flex align-items-center gap-1 filter-item" data-value="2">
        <div class="rounded-5 bg-warning border-5 " style="width:12px; height:12px;"></div>
        family/friend
    </div>

    <div class="col-xl-1 col-md-3 col-6 d-flex align-items-center gap-1 filter-item" data-value="3">
        <div class="rounded-5 bg-danger border-5 " style="width:12px; height:12px;"></div>
        Business
    </div>
    <div class="col-xl-1 col-md-2 col-6 d-flex align-items-center gap-1 filter-item" data-value="4">
        <div class="rounded-5  bg-info border-5 " style="width:12px; height:12px;"></div>
        Conciege
    </div>


</div>



<div id="loader" class="loader"></div>
<div id="partialContainer">

    
</div>
<div>
</div>
<partial name="TransferCase"></partial>
<partial name="ClearCaseModal"></partial>
<partial name="CancelCase" model="@Model"> </partial>
<partial name="BlockPatient"></partial>
<partial name="AssignCase"></partial>
<partial name="SendAgreement"></partial>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        $('#assigncase').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            console.log(button)
            var recipient = button.data('bs-requestid');
            console.log(recipient);
            var status=button.data('bs-status');
            
            var modal = $(this);
            modal.find('#requestIdInputCancel1').val(recipient);
        });
        $('#assigncase').on('hidden.bs.modal', function () {
            console.log("hidden")
            $('#assigncaseform').each(function () {
                this.reset();
            })

        });


    });


</script>
<script>
    $(document).ready(function () {

        $('#ClearModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            console.log(button)
            var recipient = button.data('bs-requestid');
            console.log(recipient);
            var status=button.data('bs-status');
            
            var modal = $(this);
            modal.find('#ClearCaseModal').val(recipient);
        });
        

    });


</script>

<script>
    $(document).ready(function () {

        $('#transfercase').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            console.log(button)
            var recipient = button.data('bs-requestid');
            console.log(recipient);
            var modal = $(this);
            modal.find('#requestIdInputTransfer').val(recipient);
        });
        $('#transfercase').on('hidden.bs.modal', function () {
            console.log("hidden")
            $('#transformcase').each(function () {
                this.reset();
            })

        });
    });


</script>


<script>
    $(document).ready(function () {

        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            console.log(button)
            var recipient = button.data('bs-requestid');
            var patientName = button.data('bs-patientname')
            console.log(recipient)
            var modal = $(this);
            modal.find('#patientname').text(patientName)
            modal.find('#requestIdInputCancel').val(recipient);
        });
        $('#exampleModal').on('hidden.bs.modal', function () {
            console.log("hidden")
            $('#cancelCaseForm').each(function () {
                this.reset();
            })

        });

    });
    
</script>
<script>

    $(document).ready(function () {
    })
</script>

<script>
    $(document).ready(function () {
        $('#BlockModal').on('show.bs.modal', function (event) {
            console.log("block")
            var button = $(event.relatedTarget);
            console.log(button)
            var recipient = button.data('bs-requestid');
            var patientName = button.data('bs-patientname')
            console.log(recipient)
            var modal = $(this);
            modal.find('#patientname').text(patientName)

            modal.find('#requestIdInputBlock').val(recipient);
        });

        $('#BlockModal').on('hidden.bs.modal', function () {
            
            $('#blockCaseForm').each(function () {
                this.reset();
            })

        });

    });


</script>

<script>
    $(document).ready(function () {
        $('#sendagrrement').on('show.bs.modal', function (event) {
            console.log("block")
            var button = $(event.relatedTarget);
            console.log(button)
            var recipient = button.data('bs-requestid');
            var email = button.data('bs-email');
            var phoneno = button.data('bs-phoneno');
            console.log(email)
            var modal = $(this);
            modal.find('#agreementemail').val(email)
            modal.find('#agreementphoneno').val(phoneno)

            modal.find('#requestIdInputAgreement').val(recipient);
        });

        $('#sendagrrement').on('hidden.bs.modal', function () {
            
            $('#blockCaseForm').each(function () {
                this.reset();
            })

        });

    });


</script>
