

<table class="table w-100" id="dataTable">
    <thead class=" table-secondary">
        <tr class="d-none d-xl-table-row">
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Requestor</th>
            <th scope="col"> Requested <br>Date</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Notes</th>
            <th scope="col">Chat With</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {




                <tr class=" @(GetRowClass(@item.ReqTypeId))  d-none d-xl-table-row text-white" style="vertical-align:middle">



                <td style="background-color:@(GetRowClass(@item.ReqTypeId))!important">@item.PatientName</td>
                <td style="background-color:@(GetRowClass(@item.ReqTypeId))!important">@item.DateOfBirth</td>
                <td style="background-color:@(GetRowClass(@item.ReqTypeId))!important">@item.Requestor </td>
                <td style="background-color:@(GetRowClass(@item.ReqTypeId))!important">5-12-2019</td>
                <td style="background-color:@(GetRowClass(@item.ReqTypeId))!important">
                            <button class="btn  border-white text-white" >
                                <i class="bi bi-telephone me-1"></i>
                                @item.Phone
                            </button><br>
                    <span class="text-white">Patient</span>
                    @if (@item.ReqTypeId==2)
                    {
                        <br />
                        <button class="btn  border-white text-white">
                            <i class="bi bi-telephone me-1"></i>
                            @item.PhoneOther
                        </button><br />
                        <span class="text-white">(Family/Friend)</span>
                    }
                    @if (@item.ReqTypeId==3)
                    {
                        <br />
                        <button class="btn  border-white text-white">
                            <i class="bi bi-telephone me-1"></i>
                            @item.PhoneOther
                        </button><br />
                        <span class="text-white">(Business)</span>
                    }
                    @if (@item.ReqTypeId==4)
                    {
                        <br />
                        <button class="btn  border-white text-white">
                            <i class="bi bi-telephone me-1"></i>
                            @item.PhoneOther
                        </button><br />
                        <span class="text-white">(Conciege)</span>
                    }

                        </td >
                <td style="background-color:@(GetRowClass(@item.ReqTypeId))!important">@item.Address</td>
                <td style="background-color:@(GetRowClass(@item.ReqTypeId))!important">@item.Notes</td>
                <td style="background-color:@(GetRowClass(@item.ReqTypeId))!important">
                    <button class="btn border-white @(GetRowClass(@item.ReqTypeId)) text-white">
                                <i class="bi bi-person me-1"></i> provider
                            </button>

                        </td>
                <td style="background-color:@(GetRowClass(@item.ReqTypeId))!important">
                    <div class="dropdown">
                        <button class="btn border-white @(GetRowClass(@item.ReqTypeId)) text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#"><i class="bi bi-card-text me-3"></i> Assign Case</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal"><i class="bi bi-x-circle me-3"></i>Cancel Case</a>
                            <a class="dropdown-item" asp-action="ViewCase" asp-controller="Admin" asp-route-id="@item.Id"><i class="bi bi-x-circle me-3"></i>View Case</a>
                            <a class="dropdown-item" asp-action="ViewNotes" asp-controller="Admin" asp-route-requestid="@item.RequestId"><i class="bi bi-x-circle me-3"></i>View Notes</a>
                            <a class="dropdown-item" href="#"><i class="bi bi-ban me-3"></i>Block Patients</a>
                        </div>
                    </div>
                        </td>
                    </tr>


                    @* <div class="d-xl-none ">
                        <div class="bg-info-subtle rounded-3 " data-bs-toggle="collapse" data-bs-target="#collapseExample_@item.Id"
                        aria-expanded="false" aria-controls="collapseExample_@item.Id">
                            <div class="flex-column gap-2 border-bottom border-5">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <span class=" fs-5 ms-2">@item.PatientName</span>
                                    <span class=" fs-5 me-5">Patient</span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <div class="fs-5 ms-2"> @item.Address</div>

                                    <button class="btn border-info text-info me-1">
                                        Map Location
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="collapse" id="collapseExample_@item.Id">
                            <div class=" bg-info-subtle rounded-3 flex-column">
                                <div class="ms-2 fs-5">
                                    <i class="bi bi-calendar3 me-1"></i>
                                    Date Of Birth:@item.DateOfBirth
                                </div>
                                <div class="ms-2 fs-5">
                                    <i class="bi bi-envelope me-1"></i>
                                    Email:@item.Email
                                </div>
                                <div class="ms-2 fs-5">
                                    <i class="bi bi-telephone me-1"></i>
                                    Patient-No:@item.Phone
                                </div>
                                <div class="ms-2 fs-5">
                                    <i class="bi bi-journal-bookmark"></i>
                                    Notes:@item.Notes
                                </div>
                                <div class="ms-2 fs-5">
                                    <i class="bi bi-calendar3 me-1"></i>
                                    Date Of Service:3-9-2024
                                </div>
                                <div class="ms-2 fs-5">
                                    <i class="bi bi-person-circle me-1"></i>
                                    Physician:dr.dhanani
                                </div>
                                <div class="ms-2 fs-5">
                                    <i class="bi bi-person me-1"></i>
                                    Requestor:Munavvar
                                </div>
                                <div class="d-flex">
                                </div>
                                <div class="ms-2 fs-5">
                                    Chat With:
                                    <div>
                                        <button type="button" class=" btn bg-info-subtle text-info border-info rounded-3">
                                            <i class="bi bi-person me-1"></i>
                                            Patient
                                        </button>
                                        <button type="button" class=" btn bg-info-subtle text-info border-info rounded-3">
                                            <i class="bi bi-person-circle me-1"></i>
                                            Provider
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> *@

            <div class="d-xl-none ">
                <div class="bg-info-subtle " data-bs-toggle="collapse" data-bs-target="#collapseexample_@item.Id"
                     aria-expanded="false" aria-controls="collapseexample">
                    <div class="flex-column gap-2 border-bottom border-5 pt-3 pb-5 px-4">
                        <div class="d-flex  justify-content-between mb-3">
                            <span class=" fs-5 ">@item.PatientName</span>
                            @if (item.ReqTypeId == 1)
                            {
                                <span class=" fs-5  ">Business</span>
                            }
                            else if (item.ReqTypeId == 2)
                            {
                                <span class=" fs-5  ">Patient</span>
                            }
                            else if (item.ReqTypeId == 3)
                            {
                                <span class=" fs-5  ">Family/Friend</span>
                            }
                            else if (item.ReqTypeId == 4)
                            {
                                <span class=" fs-5 ">Concierge</span>
                            }
                        </div>
                        <div class="d-flex justify-content-between ">
                            <div class="">
                                <span class="fs-5">@item.Address</span>
                            </div>
                            <button class="btn btn-transparent border border-1 border-info text-info rounded-5">Map Location</button>
                        </div>

                    </div>
                </div>

                <div class="collapse position-relative" id="collapseexample_@item.Id">
                    <button class="btn position-absolute btn-transparent border-2 rounded-5 viewBtn">View Case</button>
                    <div class="d-flex flex-column gap-2 bg-info-subtle   mb-2 py-3 px-4 ">
                        
                            <div class="d-flex align-items-center ">
                                <i class="fa-regular fa-calendar  border border-1 border-info rounded-5 p-2 me-2"></i>
                                <span class="fs-5">Date of Birth:<strong>@item.DateOfBirth</strong> </span>
                            </div>
                        
                        <div class="d-flex align-items-center ">
                            <i class="fa-regular fa-envelope  border border-1 border-info rounded-5 p-2 me-2"></i>
                            <span class="fs-5">Email: <strong>@item.Email</strong></span>
                        </div>
                        
                            <div class="d-flex align-items-center ">
                                <i class="fas fa-phone  border border-1 border-info rounded-5 p-2 me-2"></i>
                                <span class="fs-5">Phone: <strong>@item.Phone</strong></span>
                            </div>
                       
                       
                            <div class="d-flex align-items-center ">
                                <i class="fa-regular fa-user  border border-1 border-info rounded-5 p-2 me-2"></i>
                            <span class="fs-5">Requestor: <strong>@item.Requestor</strong></span>
                            </div>

                            <div class="d-flex flex-column mt-3 gap-3">
                                <div class="d-flex gap-3 ">
                                    <button class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #943DB8">Assign Case</button>
                                    <button class="btn w-50 btn-transparent border border-1 text-white  rounded-5" style="background-color:  #E42929">Cancel Case</button>
                                </div>
                                <div class="d-flex gap-3 ">
                                    <button class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22">View Notes</button>
                                    <button class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #E42929">Block Patient</button>
                                </div>
                                <div class="d-flex gap-3">
                                    <button class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22">Email</button>

                                </div>
                            </div>
                        
                    </div>

                </div>
            </div>






                

            
        }
            </table>


@functions {
    public string GetRowClass(int requestTypeId)
    {
        switch (requestTypeId)
        {
            case 1:
                return "#32bf50";
            case 2:
                return "#ed9418";
            case 3:
                return "#cc2336";
            case 4:
                return "#54B4D3";
            default:
                return "";
        }
    }
}
<div>
    <nav id="pagination" aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link"  data-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
<partial name="CancelCase"></partial>