@model List<DataAccessLayer.CustomModel.SendOrderModel>
<div class="bg-white border justify-content-center mt-3 table-responsive">
    <table class="table">

        <thead class="table-secondary">
            <tr>
                <th scope="col">Profeesion</th>
                <th scope="col">Business Name</th>
                <th scope="col">Email</th>
                <th scope="col">Fax Number</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Business Contact</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
                <tbody>
                    <tr class="deleted">
                        <td>@item.Professionname</td>
                        <td>@item.BusinessName</td>

                            <td>@item.Email</td>
                        <td>@item.FaxNumber</td>
                       <td>@item.PhoneNumber</td>
                       <td>@item.BusinesContact</td>
                       <td class="d-flex gap-2">
                           <a asp-action="EditPartner" class="btn btn-outline-info" asp-route-partnerId="@item.HelthProfessionId">Edit</a>
                        <a class="btn btn-outline-info" onclick="deleteRecord(@item.HelthProfessionId)">Delete</a>
                    </td>
                    </tr>
                </tbody>
            }
        
    </table>
</div>
<div class="pb-3 mt-3">
    <nav id="pagination" aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-0">
            @if (ViewBag.CurrentPage >= 1 && ViewBag.CurrentPage <= ViewBag.TotalPages)
            {
                int prevpage = Convert.ToInt32(ViewBag.CurrentPage) - 1;
                int currpage = Convert.ToInt32(ViewBag.CurrentPage);
                int nextpage = Convert.ToInt32(ViewBag.CurrentPage) + 1;
                if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item ">
                        <a class="page-link" id="previous" data-page="@(prevpage)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                    </li>
                }
                for (int z = 0; z < 3; z++)
                {
                    if (currpage + z <= ViewBag.TotalPages)
                    {
                        <li class="page-item @(currpage + z == ViewBag.CurrentPage ? "active" : "")">
                            <a class="page-link" id="current_@z" data-page="@(currpage + z)" aria-label="Current">
                                <span>@(ViewBag.CurrentPage + z)</span>
                            </a>
                        </li>
                    }
                }
                if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="page-item ">
                        <a class="page-link" id="next" data-page="@(nextpage)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </li>
                }

            }
        </ul>
    </nav>
</div>
