@model List<DataAccessLayer.CustomModel.SendOrderModel>
<div class="bg-white border justify-content-center mt-3 ">
    <table class="table d-lg-table d-none">

        <thead class="table-secondary">
            <tr>
                <th scope="col">Profeesion</th>
                <th scope="col">Business Name</th>
                <th scope="col">Email</th>
                <th scope="col">Fax Number</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Business Contact</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
                <tbody>
                    <tr class="deleted">
                        <td>@item.Professionname</td>
                        <td>@item.BusinessName</td>

                            <td>@item.Email</td>
                        <td>@item.FaxNumber</td>
                       <td>@item.PhoneNumber</td>
                       <td>@item.BusinesContact</td>
                       <td class="d-flex gap-2">
                           <a asp-action="EditPartner" class="btn btn-outline-info" asp-route-partnerId="@item.VendorId">Edit</a>
                        <a class="btn btn-outline-info" onclick="deleteRecord(@item.VendorId)">Delete</a>
                    </td>
                    </tr>
                </tbody>
            }
        
    </table>

<div class="d-lg-none" style="max-width: 100%;">
    @{
        var Count = 0;
    }
    @foreach (var items in Model)
    {
        <div class="bg-info-subtle border-4 border-top data-mobile-row" data-bs-toggle="collapse" data-bs-target="#collapseExample-@Count" aria-expanded="false"
             aria-controls="collapseExample">
            <div class="d-flex flex-column gap-3">
                <div class="form-check my-4">
                    <span>@items.BusinessName</span>
                </div>
            </div>
        </div>
        <div class="collapse border-2 border-top rounded-3 bg-info-subtle " id="collapseExample-@Count">
            <div class="d-flex flex-column">
                <div class="ms-3 mt-2">
                    <span class=""><i class="fas text-info fa-envelope fs-6 border border-1 border-info rounded-5 fs-6 p-2 me-2"></i>Email: @items.Email</span>
                </div>
                <div class="ms-3 mt-2">
                    <span class=""><i class="fas text-info fa-phone fs-6 border border-1 border-info rounded-5 fs-6 p-2 me-2"></i>Fax: @items.FaxNumber</span>
                </div>
                <div class="ms-3 mt-2">
                    <span class=""><i class="fas text-info fa-phone fs-6 border border-1 border-info rounded-5 fs-6 p-2 me-2"></i>Phone Number: @items.PhoneNumber</span>
                </div>
                <div class="ms-3 mt-2">
                    <span class=""><i class="fas text-info fa-envelope fs-6 border border-1 border-info rounded-5 fs-6 p-2 me-2"></i>Business Contact: @items.BusinesContact</span>
                </div>

                <div class="d-flex justify-content-end mb-2 gap-2 mx-2">
                    <a asp-action="EditPartner" class="btn btn-outline-info" asp-route-partnerId="@items.VendorId">Edit</a>
                    <a class="btn btn-outline-info" onclick="deleteRecord(@items.VendorId)">Delete</a>
                </div>
            </div>
        </div>
        Count++;
    }
</div>
</div>

<div class="pb-3">
    <div class="d-flex justify-content-between align-items-center">
        <div class="ms-3 fw-semibold">
            Page @(ViewBag.CurrentPage) out of @ViewBag.TotalPages
        </div>
        <nav id="pagination" aria-label="Page navigation" class="me-3">
            <ul class="pagination pagination-sm m-0">
                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="#" id="previous" data-page="@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                    </li>
                }
                @for (int z = 1; z <= ViewBag.TotalPages; z++)
                {
                    <li class="page-item @(z == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="#" id="current_@z" data-page="@z" aria-label="Page @z">
                            @z
                        </a>
                    </li>
                }
                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="#" id="next" data-page="@(ViewBag.CurrentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

