@model List<DataAccessLayer.CustomModel.ReviewShiftVM>;
<div class="bg-white border justify-content-center mt-3 table-responsive">
    <table class="table">

        <thead class="table-secondary" style="vertical-align:middle!important">
            <tr>
                <th scope="col"><input type="checkbox" id="selectAllCheckbox" class="form-check form-check-inline" /></th>
                <th scope="col">Staff</th>
                <th scope="col">Day</th>
                <th scope="col">Time</th>
                <th scope="col">Region</th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {

            <tbody>
                <tr style="vertical-align:middle!important">
                    <td>
                        <input type="checkbox" class="fileCheckbox form-check form-check-inline" data-filename="@item.ShiftDetailId" />
                    </td>
                    <td>@item.Firstname</td>
                    <td>@item.Shiftdate.Date</td>

                    <td>@item.Starttime-@item.Endtime</td>


                    <td>@item.RegionName</td>

                </tr>
            </tbody>
        }
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to handle the "Select All" checkbox behavior
        function updateSelectAllCheckbox() {
            var allChecked = true;
            $(".fileCheckbox").each(function () {
                if (!$(this).prop("checked")) {
                    allChecked = false;
                    return false; // exit the loop early if any checkbox is not checked
                }
            });
            $("#selectAllCheckbox").prop("checked", allChecked);
        }

        // Function to handle the "Select All" checkbox change
        $("#selectAllCheckbox").change(function () {
            var isChecked = $(this).prop("checked");
            $(".fileCheckbox").prop("checked", isChecked);
        });

        // Function to handle individual checkbox changes
        $(".fileCheckbox").change(function () {
            updateSelectAllCheckbox();
        });

        // Function to handle approve button click
        $("#approveSelectedButton").click(function () {
            let selectedIds = [];
            $(".fileCheckbox:checked").each(function () {
                selectedIds.push($(this).data("filename"));
            });
            if (selectedIds.length > 0) {
                // AJAX call to approve selected items
                $.ajax({
                    url: '/Admin/ApprovedShifts',
                    type: 'POST',
                    data: { selectedIds: selectedIds },
                    success: function (response) {
                        console.log(response);
                        // Handle success response
                        selectedIds.forEach(function (id) {
                            $("tr").has("input.fileCheckbox[data-filename='" + id + "']").remove();
                        });
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                        console.error("Error occurred while approving:", error);
                    }
                });
            } else {
                // If no items are selected, show a warning message
                Swal.fire({
                    icon: 'warning',
                    title: 'Please select at least one item to approve.',
                    confirmButtonText: 'OK',
                });
            }
        });

        // Function to handle delete button click
        $("#deleteSelectedButton").click(function () {
            let selectedIds = [];
            $(".fileCheckbox:checked").each(function () {
                selectedIds.push($(this).data("filename"));
            });
            if (selectedIds.length > 0) {
                // AJAX call to delete selected items
                if (confirm("Are you sure you want to delete the selected files?")) {
                    $.ajax({
                        url: '/Admin/DeleteSelectedShiftDetails',
                        type: 'POST',
                        data: { selectedIds: selectedIds },
                        success: function (response) {
                            console.log(response);
                            // Handle success response
                            selectedIds.forEach(function (id) {
                                $("tr").has("input.fileCheckbox[data-filename='" + id + "']").remove();
                            });
                        },
                        error: function (xhr, status, error) {
                            // Handle error
                            console.error("Error occurred while deleting:", error);
                        }
                    });
                }
            } else {
                // If no items are selected, show a warning message
                Swal.fire({
                    icon: 'warning',
                    title: 'Please select at least one item to delete.',
                    confirmButtonText: 'OK',
                });
            }
        });
    });
</script>
