@model DataAccessLayer.CustomModel.SendOrderModel;
@{
    if (ViewBag.IsPhysician)
    {
        Layout = "~/Views/Shared/_Layout5.cshtml";
    }
    if (!ViewBag.IsPhysician)
    {
        Layout = "~/Views/Shared/_Layout4.cshtml";
    }
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

@if (TempData.ContainsKey("Error"))
{
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "positionClass": "toast-top-right",
                "timeOut": "5000"
            };

            toastr.error('@TempData["Error"]');
        });
    </script>
}
@if (TempData.ContainsKey("SuccessMessage"))
{
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "positionClass": "toast-top-right",
                "timeOut": "5000"
            };

            toastr.success('@TempData["SuccessMessage"]');
        });
    </script>
}

    <script>
            // Initialize jQuery Validation Plugin for your form
            console.log("hiids")
            
    </script>

<script>
    // Initialize jQuery Validation Plugin for your form
    $(document).ready(function () {
        
    });
</script>

<div class="container my-4 ">
    <div class="d-flex justify-content-between my-3">
        <div class="d-flex">
            <span class="fs-2 text-muted fw-bold">Send Orders</span>
        </div>
        <div class="d-flex justify-content-end">
            @if (ViewBag.IsPhysician)
            {
                <a asp-action="Index" asp-controller="Provider"
                   class="btn btn-outline-info d-flex align-items-center">
                    <span class="material-symbols-outlined"> chevron_left </span> Back
                </a>
            }
            else
            {
                <a asp-action="Index" asp-controller="Admin"
                   class="btn btn-outline-info d-flex align-items-center">
                    <span class="material-symbols-outlined"> chevron_left </span> Back
                </a>
            }
        </div>
    </div>
</div>


<!-- form -->
<div class="container shadow-lg bg-body-tertiary rounded Form_Margin bg-light  mb-5">
    <form id="ViewcaseReturnpage" asp-action="SendOrder" asp-controller="Admin">
        <input class="d-none" asp-for="@Model.requestid" value="@Model.requestid" id="sendorderrequestid">


        <div class="row">
            <div class="form-floating  col-12 col-md-6 mb-3 mt-3">
                <select class="form-select " aria-label="Default select example" name="healthprofessionaltype" id="healthprofessionaltype" >
                    <option selected>Please Select The Proffesion</option>
                    @foreach (var healthprofessionaltype in Model.Healthprofessionaltypes)
                    {
                        <option value="@healthprofessionaltype.Healthprofessionalid">@healthprofessionaltype.Professionname</option>
                    }
                </select>
            </div>
            <div class="form-floating  col-12 col-md-6 mb-3  mt-md-3">
                <select class="form-select " aria-label="Default select example" name="business" id="business" asp-for="BusinessId">
                    <option selected>Please Select The Business</option>
                    @foreach (var healthprofessional in Model.helthProfessional)
                    {
                        <option value="@healthprofessional.Vendorid">@healthprofessional.Vendorname</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-floating  col-12 col-md-6 mb-3">
                <input class="form-control" type="tel" placeholder="Business Contact" asp-for="Contact">
                <label class="text-muted mx-2" for="floatingnumber" asp-for="Contact">Business Contact</label>
                <span asp-validation-for="Contact" class="text-danger error-Contact"></span>

            </div>
            <div class="form-floating col-12 col-md-6 mb-3">
                <input class="form-control" type="email" asp-for="Email" name="Email" id="Email">
                <label class="text-muted mx-2" for="floatingEmail">email</label>
                <span asp-validation-for="Email" class="text-danger error-Email"></span>

            </div>  
            <div class="form-floating col-12 col-md-6 mb-3">
                <input class="form-control" type="text" id="FaxNumber" asp-for="FaxNumber" name="FaxNumber">
                <label class="text-muted mx-2" for="floatingFax">Fax Number</label>
                <span asp-validation-for="Email" class="text-danger error-FaxNumber" ></span>

            </div>
        </div>




        <div class="row">
            <div class="form-floating   col-12  mb-3">
                <textarea class="form-control" placeholder="Prescription or Order details"  id="Prescription"
                          style="height: 100px" asp-for="Prescription" name="Prescription"></textarea>
                <label class="text-muted mx-2" asp-for="Prescription" for="floatingTextarea">Prescription or Order details</label>
                <span asp-validation-for="Email" class="text-danger error-Prescription"></span>

            </div>
        </div>
        <div class="row">
            <div class="form-floating  col-md-6 mb-3">
                <select class="form-select position-relative form-select-md mt-1 text-muted " aria-label="Default select example" name="countrySelect">
                    <option value="0">Not required</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <div class="position-absolute top-0 start-0 mx-4 text-muted">
                    Number Of Refill
                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="row py-4">
            <div class="d-flex justify-content-end gap-3">
                <button type="submit" class="btn btn-info  text-light viewnote" id="ordersubmit">
                    Submit
                </button>
                <button type="reset" class="btn btn-danger text-light">Cancel </button>
            </div>
        </div>

    </form>
</div>