@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@model List<DataAccessLayer.CustomModel.PatientDashboard>
@{
    var uniqueRequestIds = new HashSet<int>();
}
<partial name="ToasterPartialView"></partial>

<div class="tab-pane fade bg-light show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="mt-5 bg-light m-2">
        <span class="text-muted fs-1">Medical History</span>
    </div>
    <div class="d-flex justify-content-end bg-white p-4 m-2 border">
        <button href="/Logout" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalCenter">
            <span class="d-none d-md-inline">Create New Request</span>
            <span class="d-md-none">+</span>
        </button>
        <Partial name="DocumentModel"></Partial>
    </div>
    <div class="m-2">
        <table class="table" id="sortTable">
            <thead class="thead-Secondary">
                <tr class="table-secondary">
                    <th>
                        CreatedDate
                    </th>
                    <th class="d-none d-md-table-cell">
                        Status
                    </th>
                    
                    <th class="d-none d-md-table-cell">
                        Document
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    if (uniqueRequestIds.Add(item.Request.Requestid))
                    {
                        @if (item.Requestwisefile != null)
                        {
                        <tr data-toggle="collapse" data-target="#details@(item.Request.Createddate)" class="accordion-toggle">
                            <td>
                                @Html.DisplayFor(modelItem => item.Request.Createddate)
                            </td>
                            <td class="d-none d-md-table-cell">
                                    @if (item.Request.Status == 1)
                                    {
                                        <span>New</span>
                                    }
                                    else if (item.Request.Status == 1 && item.Request.Physicianid != null)
                                    {
                                        <span>Assign</span>
                                    }
                                    else if (item.Request.Status == 2)
                                    {
                                        <span>Pending</span>
                                    }

                                    else if (item.Request.Status == 4 || item.Request.Status == 5)
                                    {
                                        <span>Active</span>
                                    }
                                    else if (item.Request.Status == 6)
                                    {
                                        <span>Conclude</span>
                                    }
                                    else if (item.Request.Status == 3 || item.Request.Status == 7 || item.Request.Status == 9)
                                    {
                                        <span>To-Close</span>
                                    }
                                    else if (item.Request.Status == 9)
                                    {
                                        <span>Unpaid</span>
                                    }
                            </td>
                           
                            <td class="d-none d-md-table-cell">
                                @if ( item.Request.Status==6)
                                {
                                    <a class="btn btn-outline-info"
                                       asp-action="ViewDocument"
                                       asp-route-requestid="@item.Request.Requestid">Documents</a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="hiddenRow">
                                <div id="details@(item.Request.Createddate)" class="accordian-body collapse">
                                    Status: @Html.DisplayFor(modelItem => item.Request.Status) <br />
                                        @if ( item.Request.Status == 6)
                                    {
                                        <a class="btn btn-outline-info"
                                           asp-action="ViewDocument"
                                           asp-route-requestid="@item.Request.Requestid">Documents </a>
                                    }
                                </div>
                            </td>
                            </tr>
                        }
                        else
                        {
                            <tr data-toggle="collapse" data-target="#details@(item.Request.Createddate)" class="accordion-toggle">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Request.Createddate)
                                </td>
                                <td class="d-none d-md-table-cell">
                                    @if (item.Request.Status == 1)
                                    {
                                        <span>New</span>
                                    }
                                    else if (item.Request.Status == 1 && item.Request.Physicianid!=null)
                                    {
                                        <span>Assign</span>
                                    }
                                    else if (item.Request.Status == 2)
                                    {
                                        <span>Pending</span>
                                    }

                                    else if (item.Request.Status == 4 || item.Request.Status==5 )
                                    {
                                        <span>Active</span>
                                    } 
                                    else if (item.Request.Status == 6)
                                    {
                                        <span>Conclude</span>
                                    }
                                    else if (item.Request.Status == 3 || item.Request.Status==7|| item.Request.Status==9)
                                    {
                                        <span>To-Close</span>
                                    }
                                    else if (item.Request.Status == 9)
                                    {
                                        <span>Unpaid</span>
                                    }
                                </td>
                               
                                <td class="d-none d-md-table-cell">
                                    @if (item.Request.Status == 6)
                                    {
                                        
                                    <a class="btn btn-outline-info"
                                           asp-action="ViewDocument"
                                           asp-route-requestid="@item.Request.Requestid">Documents 0</a>
                                   
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="hiddenRow">
                                    <div id="details@(item.Request.Createddate)" class="accordian-body collapse">
                                        Status: @Html.DisplayFor(modelItem => item.Request.Status) <br />
                                        @if (item.Request.Status == 6)
                                        {

                                            <a class="btn btn-outline-info"
                                               asp-action="ViewDocument"
                                               asp-route-requestid="@item.Request.Requestid">Documents 0</a>
                                        }   
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>


    


</div>

